@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Leave Management System for PLI</p>
    <img src="~/img/petronas.png" width="200" height="200">
</div>
